<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title th:text="${title}">Exchange Rates NBU</title>
</head>

<body bgcolor="#acf5d5">
<header>
    <!--Multi-language panel-->
    <table align="center" width="95%" cellpadding="5">
        <tr>
            <td width="90%"></td>
            <td width="10%">
                <ul>
                    <li type="circle">
                        <a title="сайт українською" href="/">
                            <span style="color: grey">Укр</span>
                        </a>
                    </li>
                    <li type="disc">
                        <a title="site in english" href="/eng" class="active">
                            <b><span style="color: black">Eng</span></b>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</header>

<form action="/eng" method="get">
    <!--Input data-->
    <table align="center" width="95%" cellpadding="5">
        <tr>
            <th height="50" colspan="2"><font size="5">The official exchange rate</font></th>
        </tr>

        <!--currency code-->
        <tr>
            <td align="right" width="50%">Currency</td>
            <td align="left" width="50%">
                <select name="currencyLiteralCodeRequest">
                    <div th:if="${currency.getCurrencyLiteralCode() != null}">
                        <option selected="selected"
                                th:text="${currency.getCurrencyLiteralCode().descriptionEng}"
                                th:value="${currency.getCurrencyLiteralCode()}">
                        <option th:each="CurrencyLC : ${T(com.exchangeratesnbu.entity.CurrencyLiteralCode).values()}"
                                th:text="${CurrencyLC.descriptionEng}"
                                th:value="${CurrencyLC}">
                    </div>
                    <div th:if="${currency.getCurrencyLiteralCode() == null}">
                        <option th:each="CurrencyLC : ${T(com.exchangeratesnbu.entity.CurrencyLiteralCode).values()}"
                                th:text="${CurrencyLC.descriptionEng}"
                                th:value="${CurrencyLC}">
                    </div>
                </select>
            </td>
        </tr>

        <!--currency data-->
        <tr>
            <td align="right">Data</td>
            <td align="left">
                <div th:if="${currency.getCurrencyExchangeDate() != null}">
                    <input type="date" size="23" name="currencyExchangeDateRequest"
                           th:value="${currency.getCurrencyExchangeDate()}">
                </div>
                <div th:if="${currency.getCurrencyExchangeDate() == null}">
                    <input type="date" size="23" name="currencyExchangeDateRequest"
                           th:value="${currency.getCurrentDate()}">
                </div>
            </td>
        </tr>

        <!--total in UAH-->
        <tr>
            <td align="right">Amount in UAH</td>
            <td align="left">
                <div th:if="${currency.getCurrencyTotalInUAH() != null}">
                    <input type="text" size="23" name="currencyTotalInUAH"
                           th:value="${currency.getCurrencyTotalInUAH()}">
                </div>

                <div th:if="${currency.getCurrencyTotalInUAH() == null}">
                    <input type="text" size="23" name="currencyTotalInUAH"
                           placeholder="enter the amount in UAH">
                </div>
            </td>
        </tr>

        <!--save to table-->
        <tr>
            <td align="right">Save the result to a table</td>
            <td align="left">
                <div th:if="${currency.getSaveToTable() == true}">
                    <input type="radio" name="saveToTable" value="true" checked> yes
                    <input type="radio" name="saveToTable" value="false"> no
                </div>

                <div th:if="${currency.getSaveToTable() == false}">
                    <input type="radio" name="saveToTable" value="true"> yes
                    <input type="radio" name="saveToTable" value="false" checked> no
                </div>

                <div th:if="${currency.getSaveToTable() == null}">
                    <input type="radio" name="saveToTable" value="true"> yes
                    <input type="radio" name="saveToTable" value="false" checked> no
                </div>
            </td>
        </tr>

        <!--button-->
        <tr>
            <td align="center" colspan="2">
                <button type="submit"><b>Execute</b></button>
            </td>
        </tr>
    </table>


    <!--Response-->
    <br>
    <table align="center" width="50%" cellpadding="4">
        <div th:if="${currency.getCurrencyExchangeDate() != null}">
            <div>
                <tr>
                    <td align="center" width="12%"><b>Numeral code</b></td>
                    <td align="center" width="12%"><b>Literal code</b></td>
                    <td align="center" width="25%"><b>Currency name</b></td>
                    <td align="center" width="25%"><b>Currency rate</b></td>
                    <td align="center" width="25%"><b>Equivalent UAH amount in currency</b></td>
                </tr>

                <tr>
                    <td align="center">
                        <text th:text="${currency.getCurrencyNumeralCode()}"></text>
                    </td>
                    <td align="center">
                        <text th:text="${currency.getCurrencyLiteralCode()}"></text>
                    </td>
                    <td align="center">
                        <text th:text="${currency.getCurrencyLiteralCode().descriptionEng}"></text>
                    </td>
                    <td align="center">
                        <text th:text="${currency.getCurrencyRate()}"></text>
                    </td>
                    <td align="center">
                        <text th:text="${currency.getCurrencyEquivalentInCurrency()}"></text>
                    </td>
                </tr>
            </div>
        </div>
    </table>
</form>
</body>
</html>